.board-wrapper {
  display: flex;
  flex-direction: column;
  padding: 5%;
  text-align: center;
  align-items: center;
  margin: auto;
}

.board-row {
  margin: 80px auto;
  display: flex;
  width: 100%;
  height: 25px;
}

.board-heading {
  font: 700 18px sans-serif;
  list-style-type: none;
  padding: 5% 0;
}
.board-history-list {
  list-style-type: none;
}

.board-footer {
  width: 100%;
}
