@import url("https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap");

* {
  font-family: ZCOOL KuaiLe;
}
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-burger-bars-hover {
  background: #a90000;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  background: #373737;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  border: 2px solid #373737;
}
.heading {
  color: #36fe00;
}

.bm-morph-shape {
  fill: #373737;
}

.bm-item-list {
  color: gray;
  padding: 0.8em;
}

.bm-item {
  display: inline-block;
  -webkit-text-fill-color: #00b5ff;
  margin-bottom: 10px;
  text-align: left;
  -webkit-text-stroke: 0.5px #fe4900;
  transition: color 0.2s;
}

.bm-item:hover {
  color: #c800fe;
}

.bm-overlay {
  background: Black;
}

@media (min-width: 801px) {
  .bm-burger-button {
    display: none;
  }
}
@media (min-height: 100.1vh) {
  .bm-burger-button {
    display: none;
  }
}
