.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.title {
  color: black;
  font-size: 44px;
  cursor: pointer;
}
.subtext {
  color: Black;
  cursor: pointer;
  margin-bottom: 10px;
}

.generate {
  width: 150px;
  padding: 5px;
  border: 2px solid black;
  background: transparent;
  color: black;
}

.generate-box {
  padding: 5px;
}

.App-header {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
