.ball {
  border: 2px solid black;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 20px;
  margin: auto;
}
#inner-ball {
  border: 1px solid white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: white;
}
.answer {
  display: flex;
  align-items: center;
  justify-content: center;
}
