.global {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url("./Background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media (max-width: 800px) {
  .global {
    overflow: hidden;
  }
}

.main {
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: hsla(0, 0%, 75%, 0.8);
}
